/* الألوان الأساسية – الوضع الفاتح */
:root {
  --bg: #fff;
  --text: #333;
  --logo: url('../images/white-logo.png');
}

/* الوضع الداكن */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #121212;
    --text: #eee;
    --logo: url('../images/white-logo.png');
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.site-logo {
  background-image: var(--logo);
}
